body {
	background-color: #fff;
	color: #525759;
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
	text-align: center;
	margin: 0;
	padding-top: 30px;
}

ul {
	text-align: left;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}

.create-form {
	width: 350px;
}

.create-form-buttons {
	position: relative;
	left: 50%;
	transform: translate(-25%, 0);
}

.bids {
	width: 380px;
}

.bids-input {
	position: relative;
	left: 50%;
	transform: translate(-37%, 0);
}

.comments {
	width: 510px;
}

.none-label-comments {
	position: relative;
	left: 50%;
	transform: translate(-7.5%, 0);
}

.none-label-bids {
	position: relative;
	left: 50%;
	transform: translate(-10%, 0);
}

.navbar {
	background-color: rgb(81, 158, 181);
	height: 30px;
	padding-top: 10px;
	position: fixed;
	top: 0;
	width: 100%;
}

.nav-link {
	color: #fff;
	text-decoration: none;
}

input[type="submit"] {
	color: #fff;
	border-radius: 5px;
    border: none;
    font-family: inherit;
	font-size: medium;
	background-color: rgb(40, 164, 77);
	cursor: pointer;
}

.cancel-button {
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
    border: none;
    font-family: inherit;
	font-size: medium;
	background-color: rgb(212, 96, 42);
	padding-top: 2.5px;
	padding-bottom: 3.5px;
	padding-left: 4px;
	padding-right: 4px;
}

.delete-button {
	color: #fff;
	border-radius: 5px;
    border: none;
    font-family: inherit;
	font-size: medium;
	background-color: rgb(212, 96, 42);
	cursor: pointer;
}

.toast-top-right {
	margin-top: 40px;
}